.Drop {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
}

.timeline {
  height: 150px;
  width: 5px;
  background-color: #e5e5e5;
}

.stub2 {
  height: 1000px;
}

.circle {
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  background-color: #e5e5e5;
}

.circleWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.message {
  position: absolute;
  top: 20%;
  min-width: 150px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.message.left {
  left: calc(100% + 20px);
  flex-direction: row;
}

.message.right {
  right: calc(100% + 20px);
  flex-direction: row-reverse;
}

.message-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-text {
  white-space: normal;
}

.floating-image {
  width: 120px; /* Adjust size here for desktop */
  height: auto;
}

@media screen and (max-width: 768px) {
  .message {
    flex-direction: column;
    align-items: flex-start;
    left: calc(100% + 10px) !important;
    right: calc(100% + 10px) !important;
    top: 40px; /* Adjust top position for mobile */
  }

  .floating-image {
    display: none; /* Hide images on mobile */
  }
}
