.home-page {
    font-family: Arial, sans-serif;
    color: #fff;
}

.main-content {
    background-color: #00c3ff;
    padding: 100px 20px 50px 20px; /* Adjusted padding to account for fixed header */
    text-align: center;
}

.service-banner,
.équipements-banner {
    padding: 50px 0;
}

.service-banner h1,
.équipements-banner h1 {
    font-size: 48px;
}

.service-banner p,
.équipements-banner p {
    font-size: 18px;
    margin-top: 20px;
}
