.solutions-container {
    display: flex;
    font-family: Arial, sans-serif;
    color: #333;
}

.left-panel {
    background-color: #272D4E;
    color: white;
    padding: 40px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.left-panel h1 {
    font-size: 3em;
    margin: 0;
    font-weight: bold;

}

.right-panel {
    flex: 2;
    background-color: #f8f8f8;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.solution-item h2 p {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    align-items: center;
    animation: slide-in 1s ease-out;
}

.solution-item h2 {
    font-size: 1.5em;
    color: #FF997F;
    margin: 0;
}

.solution-item h2 span {
    margin-left: 10px;
    font-weight: bold;
}

.solution-item p {
    color: #666;
    margin: 5px 0 0 0;
    flex: 1;
}

.arrow {
    justify-content: flex-end;
    font-size: 1.5em;
    color: #FF997F;
}

.divider {
    border: none;
    border-bottom: 1px solid #ddd;
    margin: 20px 0;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
